<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.4.1" targetFramework="mdd81" />
  <package id="jquery.mobile" version="1.4.5" targetFramework="mdd81" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="mdd81" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="mdd81" developmentDependency="true" />
  <package id="Microsoft.TypeScript.MSBuild" version="3.8.3" targetFramework="mdd81" developmentDependency="true" />
</packages>